@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

h2 {
    margin: 20px auto 10px 40px;
    color: #7E7E82;
    font-weight: 400;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 25px;
    padding: 40px;
}

.brand__container {
    display: flex;
    width: 280px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}

.brand-logo {
    width: 110px;
    height: auto;
}

.arrow-logo {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.apple-logo {
    width: 45px;
}

.hp-logo {
    width: 43px;
}

.brand-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 16px;
}

.expand-icon {
    width: 35px;
    height: auto;
}

.expand-container {
    position: relative;
    top: 0;
    left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

